<%= form_for([@commentable.project ,@commentable, Comment.find(params[:id])]) do |f| %>
	<div class="form-group">
	<%= f.text_area :body, class: 'form-control', rows:3%>
	</div>

	<%= f.submit  class: 'btn btn-primary'%>
<% end %>



