<div class="container">
<main role="main">
  <div class="col-sm-10">
  <div class="calendar">
  </div>
</div>
<br>

<script type="text/javascript">
  $('.calendar').fullCalendar({
  header: {
    left: 'prev,next',
    center: 'title',
    right: 'today,agendaDay,agendaWeek,month'
  },
  defaultView: 'month',
  height: 600,
  editable: true,
  resizable: true,
  events: '/projects.json'
  }, {
  color: 'red'
  });

</script>

<%= link_to 'Add Event', new_project_event_path(project, @event)%>
</main>
</div>
