<div class="row">
  <div class="col-sm-1"><i class="fa fa-file-text-o fa-5x" style="color: green;"></i>
  </div>
  <div class="col-sm-8">
    <div class="row">
    <h4><%= activity.owner.name %>
    <% if activity.trackable %>
    created a new board <%= link_to activity.trackable.name, project_board_path(@project,activity.trackable), style: 'color: #6495ED;'%>
    inside <%= link_to activity.trackable.project.name, project_path(@project), style: 'color: #6495ED;'%>
    <% else %>
    created a board which has been deleted
  </h4>
<% end %>
<p class="text-muted"><%= local_time_ago(activity.trackable.created_at) %></p>
</div>
</div>
</div>
