<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to edit_user_registration_path do %>
  <i class="fa fa-user fa-lg" style="color: #6495ED;"></i>
  <i class="fa fa-cog fa-lg" style="color: #6495ED;"></i>
  <% end %>
  </li>
  <li><%= link_to  destroy_user_session_path, :method=>'delete' do %>
  <i class="fa fa-sign-out fa-lg" style="color: ;"></i>
  <% end %>
  </li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
